* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f0f0f0;
    text-align: center;
} 

.container {
     height : 70vh;
     justify-content: center;
        align-items: center;
        display: flex;
}

.game {
    height: 60vmin;
    width: 60vmin;
    gap : 1.5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}  

.box {
    height:18vmin;
    width:18vmin;
    gap : 1.5vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-size: 8vmin;
    font-weight: bold;
    color : red;
    background-color: #fff;  

} 

reset {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
}

#msg {
    color: black;
    font-size: 5vmin;

}

.msg-container {
    height: 25vmin
}

.hide {
    display: none;
}

.x {
  color: red;
  font-weight: bold;
}

.o {
  color: blue;
  font-weight: bold;
}